preprocessing/__pycache__/*
jp_notebooks/.ipynb_checkpoints/*
general_utils/__pycache__/*
configs/__pycache__/*
dataloading/__pycache__/*
models/__pycache__/*
models/*.pyc
personal_notes.txt
results/
sbatch_jobs/*logs/
